.acw-submenu-item.acw-hide {
    display: none;
}

.acw-menu-item > a:first-child {
    font-weight: 600;
    font-size: 18px;
    color: black !important;
}
.qodef-page-mobile-header-inner .qodef-open-icon{
    color: black !important;
}

.qodef-page-mobile-header-inner .qodef-close-icon{
    color: black !important;
}

.qodef-fullscreen-menu--opened .qodef-fullscreen-menu-opener.qodef-fullscreen-menu-opener--predefined{
    color: black !important;
}

.qodef-lines{
    color: black !important;

}

.acw-menu-item > a:after {
    content: ' +';
}

.acw-btn-main-page a {
    font-size: 23px !important;
    font-weight: bold;
}

#qodef-page-inner {
    padding: 0 !important;
}

.acw-top-menu {
    padding: 16px 16px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.acw-top-menu .acw-top-link {
    background: #d44a98;
    border-radius: 5px;
    padding: 3px 11px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}

.acw-top-menu a {
    color: #fff;
}

.acw-top-menu a:hover {
    color: #fff;
}

.acw-top-menu .acw-top-link:hover {
    color: #fff;
}

.acw-welcome {
    border-radius: 5px;
    padding: 3px 11px;
    color: #fff;
}

/*#qodef-page-header {*/
/*    height: 57px !important;*/
/*}*/

.qodef-fullscreen-menu-holder {
    background: rgb(233 233 233) !important;
}

.qodef-fullscreen-menu-holder  .qodef-menu-item-inner{
    color: #000 !important;
}

#qodef-woo-page {
    margin-top: 100px;
}

.gform_required_legend {
    display: none !important;
}

.gform_button {
    background: #d44a98 !important;
}

.gform_next_button {
    background: #d44a98 !important;
}

.dokan-account-migration-lists {
    display: none !important;
}

input {
    border: 1px solid !important;
    border-radius: 7px !important;
}

#qodef-side-area .widget a {
    color: #3b3939 !important;
}

#qodef-side-area #qodef-side-area-close {
    color: #3b3939 !important;
}

#qodef-side-area .widget {
    color: #0b0b0b !important;
}

.acw_address {
    direction: ltr !important;
}

.acw_address span {
    direction: rtl !important;
}

.acw_address_en {
    direction: rtl !important;
}

.gform_next_button {
    color: white;
    padding: 10px 20px;
    font-size: 18px;
}

.acw_address_en span {
    direction: ltr !important;
}

.acw_login_digits span {
    background: #d44a98;
    color: #fff;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 10px;
}